.cart_sub {
  padding: 2rem 10rem;
  padding-top: 8rem;
}

.cart_sub h2 {
  font-size: 1.7rem;
  margin: 0;
  color: white;
}

.cart_sub > div {
  display: flex;
  gap: 1rem;
}

.cart_sub aside > ul {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  max-height: 50vh;
  overflow-y: scroll;
  gap: 1rem;
}

.cart_sub aside > ul::-webkit-scrollbar {
  width: 5px;
}

.cart_sub aside > ul::-webkit-scrollbar-track {
  background-color: transparent;
}

.cart_sub aside > ul::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border-radius: 100px;
}

.cart_sub aside > ul li {
  padding: 1rem 0;
  list-style-type: none;
  display: flex;
  /* border: 1px solid var(--grey); */
  gap: 1rem;
  background-color: var(--bg);
  padding: 1.5rem;
  border-radius: 10px;
}

.cart_sub aside > ul li image {
  border-radius: 4px;
}

.cart_sub aside {
  margin-top: 2rem;
}

.cart_sub aside:first-child {
  border-radius: 5px;
  border: 2px solid var(--grey);
  padding: 1.5rem;
  background-color: var(--ltbg);
  align-self: flex-start;
  flex-grow: 1;
}

.cart_sub_item_info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.cart_sub_item_info h5 {
  color: white;
  margin: 0;
  font-size: 1.3rem;
}

.cart_sub_item_info span {
  color: var(--grey);
  font-size: 1.1rem;
}

.cart_sub_item_info button {
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  border-start-end-radius: 5px;
  border: 1px solid var(--grey);
  color: red;
  font-size: 1rem;
  background-color: transparent;
  width: fit-content;
  cursor: pointer;

  margin-top: 0.5rem;
}

.cart_sub aside > ul li h4 {
  font-size: 1.5rem;
  margin: 0;
  margin-left: auto;
}

.cart_sub_main_buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.cart_sub_main_buttons button:first-child {
  padding: 0.7rem 1.2rem;
  color: white;

  font-size: 1rem;
  display: flex;
  align-items: center;
  border: none;
  gap: 1rem;
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(180deg, var(--secondary) 0%, #0067ff 100%);
}

.cart_sub_main_buttons button:last-child {
  color: var(--secondary);
  border: none;
  background-color: transparent;
  padding: 0.7rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid var(--grey);
}

.cart_sub aside:last-child {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cart_sub aside:last-child section:last-child {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.cart_sub aside:last-child section {
  padding: 1.3rem;
  background-color: var(--ltbg);
  border-radius: 5px;
  border: 2px solid var(--grey);
}

.cart_sub_coupon span {
  color: var(--grey);
  font-size: 1.2rem;
}

.cart_sub_coupon_inner {
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-top: 1rem;
}

.cart_sub_coupon_inner input {
  border: 2px solid var(--grey);
  padding: 0.7rem 1.2rem;
  color: white;
  background-color: transparent;
  font-size: 1rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.cart_sub_coupon_inner input:focus {
  outline: none;
}

.cart_sub_coupon_inner input::placeholder {
  color: var(--grey);
}

.cart_sub_coupon_inner button {
  border: none;
  background-color: transparent;
  border: 2px solid var(--grey);

  color: var(--secondary);
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.cart_sub_price_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart_sub_price_wrapper span {
  color: var(--grey);
  font-size: 1.2rem;
}

.cart_sub_price_tax {
  color: #fa3434 !important;
}

.cart_sub_price_discount {
  color: #00b517 !important;
}

.cart_sub_price_wrapper_total {
  margin-top: 0.4rem;
  padding-top: 1.2rem;
  border-top: 1px solid white;
  display: flex;
  justify-content: space-between;
}

.cart_sub_price_wrapper_total span {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.cart_sub aside:last-child section:last-child button {
  background-color: #00b517;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  padding: 1rem 0rem;
  margin-top: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

@media screen and (max-width: 1600px) {
  .cart_sub {
    padding: 2rem 7rem;
    padding-top: 8rem;
  }
}

@media screen and (max-width: 1400px) {
  .cart_sub {
    padding: 2rem 4rem;
    padding-top: 8rem;
  }
}
@media screen and (max-width: 1000px) {
  .cart_sub > div {
    flex-direction: column;
  }

  .cart_sub > div > aside:first-child {
    width: 100%;
  }
  .cart_sub_coupon_inner input {
    flex-grow: 1;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .cart_sub {
    padding: 2rem;
    padding-top: 5rem;
  }
}

@media screen and (max-width: 500px) {
  .cart_sub aside ul li img {
    width: 40px;
    height: 40px;
  }
  .cart_sub_item_info h5 {
    font-size: 1.2rem;
  }
  .cart_sub_item_info span {
    font-size: 1rem;
  }
  .cart_sub aside > ul li h4 {
    font-size: 1.3rem;
  }

  .cart_sub aside > ul li {
    background-color: var(--ltbg);
  }
  .cart_sub_main_buttons {
    flex-direction: column;
    gap: 1rem;
  }

  .cart_sub_main_buttons button {
    align-items: center;
    justify-content: center;
  }
  .cart_sub aside:first-child {
    border: none;
    padding: 0;
    background-color: transparent;
  }

  .cart_sub aside:last-child section {
    border: none;
    padding: 0;
    background-color: transparent;
  }
}
