.productId {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-top: 8rem;
  margin: auto;
  width: 70rem;
}

@media screen and (max-width: 1250px) {
  .productId {
    width: 90vw;
  }
}
